%div.checkin
  %p 
    %span{:style => 'color: magenta'}
      #{user[:name]} 
    #{t.checkin.moved_from}
    %span{:style => 'color: blue'} 
      #{check_in[:source][:name]}
    #{t.checkin.moved_to}
    %span{:style => 'color: green'} 
      #{check_in[:destination][:name]} 
    #{t.checkin.on_route} 
    %span{:style => 'color: orange'} 
      #{check_in[:route]} 
    #{t.checkin.for} 
    %span{:style => 'color: gray'} 
      #{print_time check_in[:distance][:time]}
  = haml :map, :locals => {:route => route, :city => check_in[:city], :route_type => check_in[:route_type], :no_list => true, :source_id => check_in[:source][:index].to_i, :destination_id => check_in[:destination][:index].to_i}