%script{:src=>"/mootools.js"}
- if params[:latitude].nil? || params[:longitude].nil?
  :javascript
    var initialLocation;
    var browserSupportFlag =  new Boolean();
    
    function initialize() {
      // Try W3C Geolocation method (Preferred)
      if(navigator.geolocation) {
        browserSupportFlag = true;
        navigator.geolocation.getCurrentPosition(function(position) {
          window.location = "/location?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude
        }, function() {
          handleNoGeolocation(browserSupportFlag);
        });
      } else {
        // Browser doesn't support Geolocation
        browserSupportFlag = false;
        handleNoGeolocation(browserSupportFlag);
      }
    }
     
    function handleNoGeolocation(errorFlag) {
      $(map_canvas).set('text', "#{t.location.fail}")
    }
  %div{:id=>"map_canvas"}
    #{t.location.trying}
- else
  - location = "#{params[:latitude]},#{params[:longitude]}"
  %h2= "#{t.location.yours}: #{location}"
  %img{:src => google_map_static_station(location) }
  - stations[0, 3].each do |station|
    =haml :station, :locals => {:station => station}
  %ol
    - stations.each do |station|
      %li= "#{station[:name]} (#{station[:distance]})"