%script{:src=>"http://maps.google.com/maps/api/js?sensor=false"}
:javascript
  var markers = {};
  var green_marker = null;
  var map;
  
  function bind(fn, arg) {
    return function() { fn(arg) };
  }
  
  function highlightMarker(marker) {
    if (green_marker != null)
      green_marker.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/red.png')
    green_marker = marker;
    
    green_marker.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/green.png')
  }
  
  function initialize() {
    var myLatLng = new google.maps.LatLng(#{google_map_get_center_for_route(route)});
    var myOptions = {
      zoom: 12,
      center: myLatLng,
      mapTypeId: google.maps.MapTypeId.ROADMAP//,
      //disableDefaultUI: true
    };
 
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 
    var stationsCoordinates = [new google.maps.LatLng(#{route.values.join('), new google.maps.LatLng(')})];

    #{google_map_js_route(route)}
    
    var path = new google.maps.Polyline({
      path: stationsCoordinates,
      strokeColor: "#FF0000",
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
 
    path.setMap(map);
    
    for(var key in markers) {
      google.maps.event.addListener(markers[key], 'click', bind(highlightMarker, markers[key]));
    }
    
    highlightMarker(green_marker = markers["#{h params[:from]}"])
  }
%div{:id=>"map_canvas", :style=>"width:500px; height:500px;"}
%ol
  - route.each_pair do |key, value|
    %li= "#{link_to_station(city, route_type, key)} (#{value})"