- source_location = nil if !defined?(source_location)
- destination_location = nil if !defined?(destination_location)
%script{:src=>"http://maps.google.com/maps/api/js?sensor=false"}
:javascript
  var markers = {};
  var green_marker = null;
  var map;
  
  function bind(fn, arg) {
    return function() { fn(arg) };
  }
  
  function highlightMarker(marker) {
    return
    if (green_marker != null)
      setMarkerColor(green_marker, 'red')
    green_marker = marker;
    
    setMarkerColor(green_marker, 'green')
  }

  function setMarkerColor(marker, color) {
    if (marker != null)
      marker.setIcon('http://maps.google.com/intl/en_us/mapfiles/ms/micons/' + color + '.png')
  }
  
  function initialize() {
    var myLatLng = new google.maps.LatLng(#{google_map_get_center_for_route(route)});
    var myOptions = {
      zoom: 12,
      center: myLatLng,
      mapTypeId: google.maps.MapTypeId.ROADMAP//,
      //disableDefaultUI: true
    };
 
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 
    var stationsCoordinates = [new google.maps.LatLng(#{route.values.join('), new google.maps.LatLng(')})];

    #{google_map_js_route(route)}
    #{google_map_js_put_marker("#{t.transport.source}", source_location, 'yellow')}
    #{google_map_js_put_marker("#{t.transport.destination}", destination_location, 'pink')}

    var path = new google.maps.Polyline({
      path: stationsCoordinates,
      strokeColor: "#FF0000",
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
 
    path.setMap(map);
    
    for(var key in markers) {
      google.maps.event.addListener(markers[key], 'click', bind(highlightMarker, markers[key]));
    }
    
    #{google_map_js_route_color(route, source_id, destination_id)}
  }
- if !source_id.nil? && !destination_id.nil? && source_id.instance_of?(Fixnum) && destination_id.instance_of?(Fixnum)
  %h4
    - if !source_location.nil? && !destination_location.nil?
      %span{:style => "color: yellow;"} #{t.transport.source}
      %span{:style => "color: pink;"} #{t.transport.destination}
      %br
    %span{:style => "color: blue;"} #{route.keys[source_id - 1]} 
    %span{:style => "color: green;"} #{route.keys[destination_id - 1]}

%div{:id=>"map_canvas", :style=>"width:500px; height:500px;"}
-if !defined?(no_list)
  %ol
    - route.each_pair do |key, value|
      %li= "#{link_to_station(city, route_type, key)} (#{value})"