%h2 #{t.transport.route} #{route_id}
%p #{city}
-if params[:from]
	%p #{t.transport.station} #{params[:from]}
= haml :map, :locals => {:route => route, :city => city, :route_type => route_type, :source_id => source_id, :destination_id => destination_id}